<div class="mat-elevation-z8">
  <div class="mobile-label">
    <button mat-icon-button color="primary" (click)="onActionClick(undefined,1)"
            [disabled]="readOnly" matTooltip="Create">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear>
    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnField">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.columnName }}</mat-header-cell>
      <!--<mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>-->
      <ng-container>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="column.canEdit;else ElseRow">
            <span class="mobile-label">{{ column.columnName }}:</span>
            <mat-form-field>
              <input type="text" matInput [disabled]="readOnly"
                     #inputBox (blur)="onBlurText(inputBox.value,row)"
                     [(ngModel)]="row[column.columnField]"
                     (click)="$event.stopPropagation()"
                     required>
            </mat-form-field>
          </ng-container>
          <ng-template #ElseRow>
            <span class="mobile-label">{{ column.columnName }}:</span>
            {{ column.cell(row) }}
          </ng-template>
          <!--
            <ng-container *ngIf="column.columnField === 'Description' || column.columnField === 'Remark';else ElseRow">
              <mat-form-field>
                <input type="text" matInput [disabled]="readOnly"
                        #inputBox (blur)="onBlurText(inputBox.value,row)"
                        [(ngModel)]="row[column.columnField]"
                        (click)="$event.stopPropagation()">
              </mat-form-field>
            </ng-container>
            <ng-template #ElseRow>
              {{ column.cell(row) }}
            </ng-template>
          -->
        </mat-cell>
      </ng-container>
    </ng-container>

    <!-- Command Column -->
    <ng-container matColumnDef="Command">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="onActionClick(undefined,1)"
                [disabled]="readOnly" matTooltip="Create">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div>
          <button mat-icon-button color="warn" (click)="onActionClick(row,0)"
                  [disabled]="readOnly" matTooltip="Remove">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-row-highlight': selectedRow === row}"
             (click)="selection.toggle(row)"
             style="cursor:pointer"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
              [pageSize]="10"
              [pageSizeOptions]="[10, 25, 50]"
              [length]="resultsLength"
              [showFirstLastButtons]="true">
  </mat-paginator>-->

</div>

